.input-container {
    display: flex;
    gap: 4px;
    justify-content: center;
}

.num_input {
    max-width: 50px;
    min-width: 20px;
    font-size: clamp(17px, 2vw, 20px);

    text-align: center;
    border: none;
    outline: none;
    border-bottom: 2px solid #007bff;
    transition: border-color 0.3s;
}

input:focus {
    border-bottom: 2px solid #ff5722;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.array-td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}
