.yoSoyMatthes {
    font-family: 'Ubuntu', sans-serif;
}

.projectsContainer {
    max-width: 96%;
    height:80%; background-color:#b3e5fc;
    border-radius: 40px;
    opacity: 0.8;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.projectsContainer:hover {
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    background-color: #8ddbff;
}

#educationalPath {
    transition: background-color 1s ease; /* Übergang für die Hintergrundfarbe */
}

#educationalPath:active {
    transition: 0.15s;
    background-color: #FF2600;
}

.bootswindfont {
    line-height:0.95em;
    font-size: 1.1em;
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 0;
}

.bootswindhover {
    background: rgba(255, 255, 255, 0.5);
    color: white;
    transition: 0.5s;
}

.bootswindhover:hover {
    cursor: pointer;
    background-color: orange;
}

.available_sites {
    transition: 0.2s;
}

.available_sites:hover {
    cursor: pointer;
    background-color: rgba(28, 54, 24, 0.7);
    color: white;
}

/* styling for website links */

#aboutme_link {
    background-color: rgba(0,90,50,0.8);
    color: white;
}

#popcornphilosoph_link {
    background-color: rgba(35,139,69,0.7);
    color: white;
}

#readspeed_link {
    background-color: rgba(65,171,93,0.7);
    color: white;
}

#projekte_link {
    background-color: rgba(116,196,118,0.7);
    color: white;
}

#faq_link {
    background-color: rgba(161,217,155,0.7);
    color: white;
}

#aboutme_link:hover, #popcornphilosoph_link:hover, #readspeed_link:hover, #projekte_link:hover, #faq_link:hover {
    background-color: #003049;
}