.movie_title {
    font-size: 2em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 0.98;
    margin-top:3px;
}

.movie_stars {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-size: 1.5em;
}

.genre_title {
    font-size: 4em;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.movie_class:hover {
    cursor: pointer;
}