body, html {
   font-family: 'Anonymous Pro', monospace;
   background-color: #0a2351;
   color: whitesmoke;
   height: 100%;
   overflow-x: hidden;
}

::-webkit-scrollbar {
   width: 12px;
}

::-webkit-scrollbar-track {
   background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
   background-color: #555;
   border-radius: 6px;
   border: 2px solid #1a1a1a;
}

footer {
   margin-top: 10vh;
}

